{% extends 'base.html.twig' %}

{% block title %}Fuse | ressources{% endblock %}

{% block body %}

    <div class="text-center mt-3">
        <h1>Toutes les ressources</h1>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <br>

        <div class="card-group justify-content-lg-center">
            <div class="col-md-3 text-center">
                <a href="/ressources/new" class="btn btn-primary">Nouvelle ressource</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="/admin/ressources" class="btn btn-warning">Éditer</a>
            </div>
        </div>

        <br>
        <br>

        <div class="row flex">
            {% for ressource in ressources %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            {{ ressource.category }}
                        </div>
                        <img class="card-img-top" src="/pictures/{{ ressource.ressourcePicture }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p>
                                    <a href="{{ path('ressource.show', {id: ressource.id, slug: ressource.slug}) }}">
                                        {% for ra in ressource.ressourceAttribute %}
                                            {{ ra.value }} {{ ressource.category.categoryAttributes[loop.index - 1].unity }}
                                        {% endfor %}
                                    </a>
                                </p>
                            </h5>
                            <p class="card-text">{{ ressource.description }}</p>
                            <a href="#" class="btn btn-primary">Offrir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
