{% extends 'base.html.twig' %}

{% block title %}Fuse | propositions{% endblock %}

{% block body %}

    <div class="container mt-5">

        <h1>Toutes les propositions</h1>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <div class="text-center">
            <a href="{{ path('proposal.new') }}" class="btn btn-secondary" >Nouvelle proposition</a>
        </div>

        {#            CHOIX DE LA CATEGORIE#}

        <div class="container mt-auto">
            <div class="container mt-5 text-center">
                <label for="categories">Recherche par catégorie</label>
                <form method="get">
                    <select name="category" id="category">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {{ dump(category.name) }}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        {% if (proposals) %}

        {# le corps du tableau #}

        {#                À REVOIR IL Y A DE LA REDONDANCES EN DESSOUS LA#}
        {% if category %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Auteur</th>
                <th>Action</th>
                <th>Quantité</th>
                {% for ca in category.categoryAttributes %}
                    <th> {{ ca.name }} </th>
                {% endfor %}
                <th>Localisation</th>
                <th>Completer</th>
            </tr>
            </thead>
            <tbody>

            {% for proposal in proposals %}
                {% if proposal.ressource.category == category %}
                    <tr>
                        <td>{{ proposal.user.username }}</td>
                        <td>{% if proposal.needorask==1 %}offre {% else %} demande{% endif %}</td>
                        <td>{{ proposal.quantity }}</td>
                        {% for ra in proposal.ressource.ressourceAttribute %}
                            <td> {{ ra }} </td>
                        {% endfor %}
                        {#                        <td>{{ proposal.unity }}</td>#}
                        <td>{{ proposal.location }}</td>
                        <td>
                            {# <a href="{{ path('admin.ressources.edit', {id: ressource.id}) }}" class="btn btn-secondary">Éditer</a> #}
                            {% if proposal.needorask==1 %} <a href="{{ path('proposal.add', {id: proposal.id}) }}" class="btn btn-secondary">Demander</a>{% else %} <a
                                    href="{{ path('proposal.add', {id: proposal.id}) }}" class="btn btn-secondary">Offrir</a>{% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% else %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Action</th>
                    <th>Quantité</th>
                    <th>Ressource</th>
                    <th>Localisation</th>
                    <th>Completer</th>
                </tr>
                </thead>
                <tbody>
                {% for proposal in proposals %}
                    <tr>
                        <td>{{ proposal.user.username }}</td>
                        <td>{% if proposal.needorask==1 %}offre {% else %} demande{% endif %}</td>
                        <td>{{ proposal.quantity }}</td>
                        <td>
                            {% for ra in proposal.ressource.ressourceAttribute %}
                                {{ ra.value }}
                            {% endfor %}
                        </td>
                        {#                        <td>{{ proposal.unity }}</td>#}
                        <td>{{ proposal.location }}</td>
                        <td>
                            {# <a href="{{ path('admin.ressources.edit', {id: ressource.id}) }}" class="btn btn-secondary">Éditer</a> #}
                            {% if proposal.needorask==1 %} <a href="{{ path('proposal.add', {id: proposal.id}) }}" class="btn btn-secondary">Demander</a>{% else %} <a
                                    href="{{ path('proposal.add', {id: proposal.id}) }}" class="btn btn-secondary">Offrir</a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}

                {% endif %}

                </tbody>
            </table>
            {% endif %}

            <br>

            {% if proposals is empty %}
                <div class="text-center">
                    <p>Il n'y a pas de propositions pour l'instant :(</p>
                </div>
            {% endif %}

            <br>



    </div>

{% endblock %}

{# <div class="row flex"> #}
{# {% for proposal in proposals %} #}
{# <div class="col-3"> #}
{# <div class="card-body"> #}
{# <div class="card-title"> {{ proposal.ressource.name }}</div> #}
{# <div class="card-body"> {{ proposal.quantity }}</div> #}
{# <div class="card-body"> {{ proposal.unity }}</div> #}
{# </div> #}
{# </div> #}
{# {% endfor %} #}
{# </div> #}